 body {
     background-color: lavender;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 600px;
 }
 
 h1 {
     font-size: larger;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     color: blue;
 }